/*
 *Theme:B&W Hosting
 *Creator:imzlab
 *website:imzlab.com
 */
/************Dark Blue Theme**************/
.brand-color{
	color:#34495e;
}
.client-area{
	background-color:#34495e;
	border-radius:5px;
}
.nav-item:hover{
	background-color:#34495e;
	border-radius:5px;
	display:block;
	
}
.theme-bg-color{
	background-color:#34495e;
}
.theme-border-color{
		border-color:#34495e;
}
.theme-color{
	color:#34495e;
}
.theme-stroke{
	stroke:#34495e;
}
.fa{
	color:#34495e;
}
.card-header{
	border-color:#34495e;
}
.btn{
	background-color:#34495e;
	border-color:#34495e;
}
.btn:hover{
	background-color:#2b3c4e;
	border-color:#34495e;
}

.form-control{
	border:1px solid #34495e !important;
}
input:focus,
select:focus,
textarea:focus{
  box-shadow: 0 2px 2px rgba(20.4, 28.6, 36.9, 0.075) inset, 0 0 8px rgba(20.4, 28.6, 36.9, 0.6) !important;
  outline: 0 none;
}
.card{
	border:1px solid #34495e !important;
}
.contact-details{
	background-color:#2c3e50;
}
.block-first{
	padding:5px;
	background-color:#2c3e50;	
}
.block-second{
	padding:5px;
	background-color:#2c3e50;
	border-left:1px solid white;
}
.block-third{
	padding:5px;
	background-color:#2c3e50;
	border-left:1px solid white;
}
.block-fourth{
	padding:5px;
	background-color:#2c3e50;
	border-left:1px solid white;
}

/******************FAQ********************/
.integration-list ul > li {
    border-top: 1px solid #34495e;
}
.integration-list ul:last-child {
    border-bottom: 1px solid #34495e;
}
.right-arrow{
	color:#34495e;
}
.slider .indicators .indicator-item.active {
    background-color: #34495e;
}