/*
 *Theme:B&W Hosting
 *Creator:imzlab
 *website:imzlab.com
 */
/************Blue Theme**************/
.brand-color{
	color:#3498db;
}
.client-area{
	background-color:#3498db;
	border-radius:5px;
}
.nav-item:hover{
	background-color:#3498db;
	border-radius:5px;
	display:block;
	
}
.theme-bg-color{
	background-color:#3498db;
}
.theme-border-color{
		border-color:#3498db;
}
.theme-color{
	color:#3498db;
}
.theme-stroke{
	stroke:#3498db;
}
.fa{
	color:#3498db;
}
.card-header{
	border-color:#3498db;
}
.btn{
	background-color:#3498db;
	border-color:#3498db;
}
.btn:hover{
	background-color:#2980b9;
	border-color:#2980b9;
}

.form-control{
	border:1px solid #2980b9 !important;
}
input:focus,
select:focus,
textarea:focus{
  box-shadow: 0 2px 2px rgba(41, 128, 185, 0.075) inset, 0 0 8px rgba(41, 128, 185, 0.6) !important;
  outline: 0 none;
}
.card{
	border:1px solid #3498db !important;
}
.contact-details{
	background-color:#20638f !important;
}
.block-first{
	padding:5px;
	background-color:#20638f;
	
}
.block-second{
	padding:5px;
	background-color:#20638f;
	border-left:1px solid white;
}
.block-third{
	padding:5px;
	background-color:#20638f;
	border-left:1px solid white;
}
.block-fourth{
	padding:5px;
	background-color:#20638f;
	border-left:1px solid white;
}

/******************FAQ********************/
.integration-list ul > li {
    border-top: 1px solid #3498db;
}
.integration-list ul:last-child {
    border-bottom: 1px solid #3498db;
}
.right-arrow{
	color:#3498db;
}
.slider .indicators .indicator-item.active {
    background-color: #3498db;
}