/*
 *Theme:B&W Hosting
 *Creator:imzlab
 *website:imzlab.com
 */
/************Tomato Theme**************/
.brand-color{
	color:#ff6347;
}
.client-area{
	background-color:#ff6347;
	border-radius:5px;
}
.nav-item:hover{
	background-color:#ff6347;
	border-radius:5px;
	display:block;
	
}
.theme-bg-color{
	background-color:#ff6347;
}
.theme-border-color{
		border-color:#ff6347;
}
.theme-color{
	color:#ff6347;
}
.theme-stroke{
	stroke:#ff6347;
}
.fa{
	color:#ff6347;
}
.card-header{
	border-color:#ff6347;
}
.btn{
	background-color:#ff6347;
	border-color:#ff6347;
}
.btn:hover{
	background-color:#ff2700;
	border-color:#ff2700;
}

.form-control{
	border:1px solid #ff9999 !important;
}
input:focus,
select:focus,
textarea:focus{
  box-shadow: 0 2px 2px rgba(255, 204, 204, 0.075) inset, 0 0 8px rgba(255, 204, 204, 0.6) !important;
  outline: 0 none;
}
.card{
	border:1px solid #ff6347 !important;
}
.contact-details{
	background-color:#c0392b;
}
.block-first{
	padding:5px;
	background-color:#c0392b;	
}
.block-second{
	padding:5px;
	background-color:#c0392b;
	border-left:1px solid white;
}
.block-third{
	padding:5px;
	background-color:#c0392b;
	border-left:1px solid white;
}
.block-fourth{
	padding:5px;
	background-color:#c0392b;
	border-left:1px solid white;
}

/******************FAQ********************/
.integration-list ul > li {
    border-top: 1px solid #ff6347;
}
.integration-list ul:last-child {
    border-bottom: 1px solid #ff6347;
}
.right-arrow{
	color:#ff6347;
}
.slider .indicators .indicator-item.active {
    background-color: #ff6347;
}